{% extends 'books/index.html' %}
{% load static %}
{% block title %}Issue Book to a Member{% endblock title %}
{% block content %}
<div class="container">
    <h1 class="form-errors">{{ message }}</h1>
    {% if book %}
    <h1>Issue Book to a Member</h1>
    <div>
        <h2>Book Details</h2>
        <table>
            <tr>
                <th>BookID</th>
                <th>Title</th>
                <th>Author</th>
                <th>View</th>
            </tr>
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td><a href="{% url 'books:view_book' id=book.id %}"><img src={% static "members/images/preview.png" %} class="symbol"></a></td>
            </tr>
        </table>
    </div>
    {% if members %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-grid">
            <div>Username:</div>
                <div>
                    <select name="member_id">
                        {% for m in members %}
                            {% if member and m.id == member.id %}
                                <option value="{{m.id}}" selected>{{m.username}}</option>
                            {% else %}
                                <option value="{{m.id}}">{{m.username}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            <div>For days:</div>
            <div>
                <input type="number" value=7 name="for_days"/>
            </div>
        </div>
        {% if member %}
        <table>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Dues</th>
                <th>View</th>
            </tr>
            <tr>
                <td>{{ member.username }}</td>
                <td>{{ member.first_name }} {{ member.last_name }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.phone_number }}</td>
                <td>{{ member.dues }}</td>
                <td><a href="{% url 'members:view_member' id=member.id %}"><img src={% static "members/images/preview.png" %} class="symbol"></a></td>
            </tr>
        </table>
        {% endif %}
        <div class="actionpad">
            <button class="yes" type="submit" value="Fetch Member" name="fetchmember">Fetch Member</button>
            <button class="yes" type="submit" value="Issue Book" name="issuebook">Issue Book</button>
        </div>
    </form>
    {% endif %}
    {% endif %}
</div>
{% endblock content %}